$color_1: #aeaeb2;
$color_2: #fff;
$color_3: #e5e5ea;
$font-family_1: 'JetBrains Mono', monospace;

@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap";
html {
	background: #1c1c1e;
}
p {
	line-height: 24px;
	margin-bottom: 24px;
	font-size: 15px;
	color: $color_1;
}
h1 {
	font-size: 18px;
	color: $color_2;
	margin-top: 126px;
	margin-bottom: 36px;
}
h2 {
	font-size: 18px;
	margin-top: 24px;
	font-weight: bold;
	color: $color_2;
}
h3 {
	font-size: 16px;
	margin-top: 20px;
	font-weight: bold;
	color: $color_2;
}
ul {
	list-style: none;
	padding-left: 5px;
	line-height: 20px;
	font-size: 14px;
	color: $color_1;
	margin-bottom: 9px;
}
ol {
	list-style: decimal;
	margin-left: 5px;
	line-height: 20px;
	font-size: 14px;
	color: $color_1;
	margin-bottom: 9px;
}
li {
	line-height: 20px;
	font-size: 14px;
	color: $color_1;
	margin-bottom: 9px;
}
a {
	color: $color_3;
	text-decoration: none;
}
body {
	font-family: $font-family_1;
	font-weight: 400;
	width: 520px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 150px;
}
img {
	margin: 24px 0 24px 0;
	border: 1px solid gray;
}
@media screen and (max-width: 519px) {
	body {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}
